<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dealer Management
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item toggle-card-btn" data-target="#add-dealer-card">Add Dealer Details</a></li>
              <li><a class="dropdown-item toggle-card-btn" data-target="#view-dealer-card">View Dealer Details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medicine Management
            </a>
            <ul class="dropdown-menu">
              <li><a  class="dropdown-item toggle-card-btn" data-target="#add-medicine-card">Add Medicine Details</a></li>
              <li><a class="dropdown-item toggle-card-btn" data-target="#view-medicine-card">View Medicine Details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee Management
            </a>
            <ul class="dropdown-menu">
              <li><a  class="dropdown-item toggle-card-btn" data-target="#add-employee-card">Add Employee Details</a></li>
              <li><a class="dropdown-item toggle-card-btn" data-target="#view-employee-card">View Employee Details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer Management
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item toggle-card-btn" data-target="#add-customer-card">Add Customer Details</a></li>
              <li><a class="dropdown-item toggle-card-btn" data-target="#view-customer-card">View Customer Details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Purchase Information
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item toggle-card-btn" data-target="#add-purchase-card">New Purchases</a></li>
              <li><a class="dropdown-item toggle-card-btn" data-target="#view-purchase-card">View All Purchases</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  