{% extends "core/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/updatedealer.css' %}">
{% endblock style %}
{% block onload %} 
onload="$('#exampleModalCenter').modal('show')"
{% endblock onload %}


{% block customer %}

<div class="card-container">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <p class="d-flex align-items-center">Customer Update Details...</p>
        </div>
        <div class="container main_container">
            <div class="card-body">
                <form class="row" id="card-form" method="POST">
                    {% csrf_token %}
                    <div class="col-md-6 form-group">
                        <label for="customer_first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control" value="{{queryset.customer_first_name}}" name="customer_first_name">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="customer_last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" value="{{queryset.customer_last_name}}" name="customer_last_name">
                    </div>
                    <div class="form-group">
                        <label for="customer_address">Address:</label>
                        <input type="text" class="form-control" value="{{queryset.customer_address}}" name="customer_address" required>
                    </div>
                    <div class="form-group">
                        <label for="customer_contact">Phone Number:</label>
                        <input type="number" class="form-control" value="{{queryset.customer_contact}}" name="customer_contact" required>
                    </div>
                    <div class="form-group">
                        <label for="customer_email">Email:</label>
                        <input type="email" class="form-control" name="customer_email" value="{{queryset.customer_email}}" required>
                    </div>

                    <div class="col-12 my-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock customer %}


{% block script %}
    <script>
        $(document).ready(function() {
            // Show specific card when clicking the toggle button
            $('.toggle-card-btn').click(function() {
                var target = $(this).data('target');
                $('.card-container').hide();  // Hide all cards first
                $(target).fadeIn();
            });

            // Close card when clicking the close button
            $('.close-card-btn').click(function() {
                $(this).closest('.card-container').fadeOut();
            });
        });

    </script>
    {% endblock script %}